
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501038751078'); /* IE9*/
  src: url('iconfont.eot?t=1501038751078#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501038751078') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501038751078') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501038751078#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baoming:before { content: "\e751"; }

.icon-fcstubiao19:before { content: "\e629"; }

.icon-mingxi:before { content: "\e6b0"; }

.icon-swipe:before { content: "\e633"; }

.icon-information:before { content: "\e639"; }

.icon-zixunyiwen:before { content: "\e60e"; }

.icon-shangkedianming01:before { content: "\e675"; }

.icon-shengri:before { content: "\e658"; }

.icon-jieshu:before { content: "\e620"; }

.icon-kaoqin:before { content: "\e628"; }

.icon-kaishi-copy:before { content: "\e752"; }

