body{
  .sidebar-menu{
    >li{
      >ul{
        display: none;
        li{
          color: white;
          a{
            padding-left: 44px;
            color: #a0a0a0;
            background-color: #404040;
          }
          a:hover{
            background-color: #505050;
          }
          .current{
            background-color: #505050;
          }
        }
      }
    }
  }
  .personal-center{
    .line-chart{
      width: 80%;
      height: 400px;
      margin: 0 auto;
      margin-top: 20px;
    }
    .par-set{
      form{
        table{
          .pwdBox{
            display: none;
          }
        }
      }
    }
  }
}